 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/63081589-0.jpeg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 409px);
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: 6px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -399px calc(((100% - 1140px) / 2) + 468px) 60px calc(((100% - 1140px) / 2) + 46px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 567px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 111px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 369px;
    height: 369px;
    margin-top: -53px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -296px;
    margin-right: calc(((100% - 940px) / 2) + 314px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 121px;
    margin-left: calc(((100% - 720px) / 2) + 52px);
  }

  .u-section-1 .u-image-1 {
    width: 322px;
    height: 322px;
    margin-top: -97px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -225px;
    margin-right: calc(((100% - 720px) / 2) + 292px);
    margin-left: calc(((100% - 720px) / 2));
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 47px;
    margin-left: calc(((100% - 540px) / 2) + 29px);
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    width: 242px;
    height: 242px;
    margin-top: -16px;
    margin-right: calc(((100% - 540px) / 2) + -34px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin: -211px calc(((100% - 540px) / 2) + 199px) 47px calc(((100% - 540px) / 2) + -24px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 288px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2) + 101px);
  }

  .u-section-1 .u-image-1 {
    width: 168px;
    height: 168px;
    margin-top: -15px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin: -153px calc(((100% - 340px) / 2) + 118px) 35px calc(((100% - 340px) / 2) + -23px);
  }
}